<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Menu1</a></li>
      
    </ul>
</nav>
<div class="container">
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- CONTENT HERE -->
          <!-- END OF CONTENT -->

           <h2>Selamat Datang</h2>
           <h5>Tambah Data Artikel</h5>
                <%= form_for (@article) do |f| %>
                <div class="form-group">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: 'form-control' %>
                  <%= @article.errors[:title].first unless @article.errors[:title].blank? %>

                  
                </div>
                <div class="form-group">
                  <%= f.label :content %>
                  <%= f.text_area :content, cols: 20, rows: 10, class: 'form-control' %>
                  <%= @article.errors[:content].first unless @article.errors[:content].blank? %>
                  
                </div>
                <div class="form-group">
                  <%= f.label :status %>
                  <%= f.radio_button :status, "active" %>
                  <%= label :artikel_status, 'active' %>
                  <%= f.radio_button :status, "non-active", :checked => true %>
                  <%= label :artikel_status, 'off' %>
                </div>
                <div class="form-group">
                    <%= f.submit :submit %>
                </div>
                <% end %>

        </div>
      </div>
    </section>
  </div>
</div>






  